*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --background-color:black;
    --bg-task-color:rgba(128, 128, 128, 0.445);
    --primary-text-color:rgb(235, 235, 235);
    --bg-btn-color:#BF092F;
    --delete-color:red;
    --nav-padding:15px 30px;
    --section-padding:15px 30px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15;
    --padding-xl:20px;
    --padding-xxl:30px;

    --border-radious-m:10px;

}

body{
    background-color:var(--background-color) ;
    color: var(--primary-text-color);
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap:var(--padding-xxl)

}

section .task-col{
flex-grow: 1;
padding:var(--padding-m);
display: flex;
flex-direction: column;
gap:var(--padding-m);
border-radius: var(--border-radious-m);
background-color: #494949b2;
cursor: grab;
transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);

}

section .task-col.hover-over
{
    border: 2px dashed var(--bg-btn-color);
    scale: 1.03;
}

section .task-col .heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav{
    display:flex ;
    justify-content: space-between;
    padding: var(--nav-padding);
    align-items: center;
}

nav button{
    background-color: var(--bg-btn-color );
    border: none;
    outline:none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l );
    cursor: pointer;
    border-radius: var(--border-radious-m);
}

section .task-col .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radious-m);
    gap:var(--padding-m);


}

section .task-col .task button{
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radious-m);
    border: none;
    outline: none;
    background-color: var(--delete-color);
    color: var(--primary-text-color);

}